
body{
    /**background-color: bisque;**/
    text-align: center;
    align-content: center;

}

.fld{
    width: 300px;
    height: 400px;
    margin-left: 500px;
    border-radius: 50px;
}

input{
    width: 300px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    text-align-last: center;
    border-radius: 50px;
}

img{
    margin: 9px;
    display: inline-block;
}

/**.cox{
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}**/

div a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 1px solid black;
    position: relative;
    z-index: 1;
    border-radius: 50px;
    transition: color 0.6 ease-in;
}

div a:hover span{
    width: 100%;
}

div a:hover{
    color: royalblue;
}

html {
    transition: all 0.4s ease-in;
    background-color: bisque;
}
  
html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}

.toggle {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    margin-left: 10px;
    top: 100px;
}
  
.toggle:focus {
    outline: none;
}

:root {
    --primary-color: #000;
    --secondary-color: bisque;
}

* {
    box-sizing: border-box;
}

